[Unit]
Description=Linux Monitoring
After=network.target

[Service]
ExecStart=/your/path/to/linux_monitoring/venv/bin/python /your/path/to/linux_monitoring/monitoring.py
WorkingDirectory=/your/path/to/linux_monitoring
User=root
Restart=always

[Install]
WantedBy=multi-user.target