[Unit]
Description=Linux Bot
After=network.target

[Service]
ExecStart=/your/path/to/linux_bot/venv/bin/python /your/path/to/linux_bot/linux_bot.py
WorkingDirectory=/your/path/to/linux_bot
User=root
Restart=always

[Install]
WantedBy=multi-user.target